{% extends 'base.html' %}

{% block main %}
    <div class="about-text container">
        <p>The project is made for experience 
            and learning flask. The search is 
            done by the Saucenao api. Bootstrap is used for 
            the frontend and Flask for the backend.
        </p>
    </div>
{% endblock %}

{% block photo %} 
    <!-- Image preview -->
    <div class="p-4 text-center"> 
      <div class="c">
        <div class="i"><img class="img" src="https://a-static.besthdwallpaper.com/demon-slayer-kimetsu-net-yaiba-yoriichi-tsugikuni-oboi-1920x1440-53556_25.jpg"></div>
        <div class="s1"></div>
        <div class="s2"></div>
        <div class="s3"></div>
      </div>
    </div>
{% endblock %}