{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <h3 class="example-title">Examples of bad screenshots</h3>
        <div class="example-item">
            <img src="https://trace.moe//img/border-bad.jpg" alt="">
            <p>Bad screenshot</p>
        </div>
        <div class="example-item">
            <img src="https://trace.moe//img/border-good.jpg" alt="">
            <p>Original screenshot</p>
            <a class="btn-example btn btn-outline-dark btn-lg" href="https://top.gg/bot/559247918280867848" role="button">Read more</a>
        </div>
    </div>

{% endblock %}

