{% extends 'base.html' %}

{% block more_info %} 
  <p class="fs-4 p-3 text-muted">We are looking for a source of manga, anime, art by picture or link, the project is just for fun. If it doesn't find a source, try using a good quality photo in a horizontal format</p>
{% endblock %}

{% block main %} 
    <!-- Input groups -->
    <form action="" method=post enctype=multipart/form-data>
      <div class="input-group mb-3">
        <button  class="btn-choose-file btn btn-outline-secondary" type="button">
          <label for="choose-file">
            <i class="fas fa-images"></i> Choose image
          </label>
          <input id="choose-file" type="file" name=file class="form-control">
        </button>
        <input id="search_link" type="text" name=text class="form-control" placeholder="Image link here">
        <button onclick="document.getElementById('search_link').value = ''" type="button" class="btn btn-outline-secondary"><i class="far fa-trash-alt"></i> Clear</button>
      </div>
      <div class="d-grid p-3">
        <button type=submit class="btn btn-outline-secondary" type="button"><i class="fa fa-cloud-upload"></i> Upload</button>
      </div>
    </form>
{% endblock %}

{% block photo %} 
    <!-- Image preview -->
    <div class="p-2 text-center"> 
      <div class="c">
        <div class="i"><img class="img" src="https://www.meme-arsenal.com/memes/55f8f92ed07b82a8457a598a6e1ba5ad.jpg"/></div>
        <div class="s1"></div>
        <div class="s2"></div>
        <div class="s3"></div>
      </div>
    </div>
{% endblock %}
